.burger-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.burger-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.burger-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.burger-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.burger-container input[type="checkbox"]:checked~.menu-items {
  transform: translateX(0);
}

.burger-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.burger-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleX(0);
}

.burger-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.mnav__items.active {
  left: 0;
}

/* nav link */
.dnav_item a {
  @apply py-2 relative;
}

.dnav_item a::before {
  content: "";
  @apply absolute bottom-0 left-0 w-0 border-b-4 border-b-primary transition-all duration-300;
}

.dnav_item a:hover::before {
  @apply w-full;
}

